{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags%}

{% block title%}
<title>Register</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-8 mx-auto" id="">
        <div class="card" id="">
            <div class="card-header text-center">
                <h4 class="my-auto">Place Detail</h4>
            </div>
            <div class="card-body">
                <div class=row>
                    <div class="mx-auto mt-5 text-center col-md-3" id="">
                        <br>
                        <img class="rounded-circle" src="{{data.image.url}}" alt="User Avatar" width="110">
                        <br>
                    </div>
                    <div class="card-body">
                        <div class="col">
                            <div class="form-group col-md-12">
                                <label>Place</label>
                                <input class="form-control" value="{{data.place}}" readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address</label>
                                <input class="form-control" value="{{data.address}}" readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label>City</label>
                                <input class="form-control" value="{{data.city}}" readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Province</label>
                                <input class="form-control" value="{{data.province}}" readonly>
                            </div>
                            <div class="form-group col-md-12 mt-3">
                                <a class="btn btn-danger float-right" href="{% url 'place_delete' data.id %}" role="button">Delete</a>
                                <a class="btn btn-primary float-right mr-3" href="{% url 'place_update' data.id %}" role="button">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 mx-auto mt-5" id="">
        <div class="card" id="">
            <div class="card-header text-center">
                <h4 class="my-auto">List of Check In</h4>
            </div>
            <div class="card-body">
                <table class="table table-responsive-md" id="checkinlist">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">User</th>
                            <th scope="col" class="text-center">Date</th>
                            <th scope="col" class="text-center">Time</th>
                            <th scope="col" class="text-center">Recent Place</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data2 %}
                        <tr>
                            <td class="text-center">{{i.user}}</td>
                            <td class="text-center">{{i.date}}</td>
                            <td class="text-center">{{i.time}}</td>
                            {% if i.recent_place == 'Others'%}
                            <td class="text-center">{{i.recent_place}}</td>
                            {% else %}
                            <td class="text-center">{{i.user.address}}</td>
                            {% endif %}
                            <td class="text-center">
                                <a class="btn btn-primary" href="{% url 'checkin_delete' i.id %}" role="button">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="ptxt">Are you sure you want to delete it?</p> 
            </div>
            <div class="modal-footer">
                <form action="{% url 'place_detail' data.id%}">
                    <button type="submit" class="btn btn-outline-secondary">Close</button>
                </form>
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger view-btn">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/datatables.min.js"></script>
<script>
    $('#checkinlist').DataTable();
    $('#myModal').modal('show');
</script>
{% endblock%}