{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags%}

{% block title%}
<title>Register</title>
{% endblock %}

{% block content %}
<div class="col-md-8 mx-auto">
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success! </strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>

<div class="col-md-6 mx-auto">
    <div class="card" id="profileupdate">
        <div class="card-header " id="header_profileupdate">
            <h2 style="text-align: center;">Edit Profile <a style="float:right; color:white;"title="Edit Project Progress"><i class="fa fa-edit"></i></a></h2>
        </div>
        <form action="" method="post" enctype="multipart/form-data" enctype="multipart/form-data">
            {% csrf_token%}
            <div class=row>
                <div class="mx-auto text-center" id="image_profileupdate">
                    <br>
                    <img class="rounded-circle" src="{{request.user.image.url}}" alt="User Avatar" width="110">
                    <br>
                    {{form.image}}
                </div>
                <div class="card-body">
                    <div class="col">
                        <div class="form-row">
                            <div class="col-md-4">
                                {{form.first_name|as_crispy_field}}
                            </div>
                            <div class="col-md-3">
                                {{form.middle_name|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{form.last_name|as_crispy_field}}
                            </div>
                            <div class="col-md-1">
                                {{form.suffix|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{form.birthdate|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{form.sex|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{form.address|as_crispy_field}}
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{form.province|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{form.city|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{form.contact_number|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                {{form.travel_history|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row float-right mt-3">
                            <a class="btn btn-outline-secondary mr-3" href="{% url 'profile' %}" role="button" id="btn">Cancel</a>
                            <button type="submit" class="btn btn-outline-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'js/province-city.js'%}"></script>
<script>
    $('#id_birthdate').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd'
    });
</script>
<style>
    span.select2-selection.select2-selection--single {height: 35px;}
</style>
{% endblock %}